.headerContainer {
  width: 100%;
  background-color: aliceblue;
  height: calc(100vh - 5rem);
  /* 5rem has given to navbar so it'll subtract that from 100vh and will take remaining width */
}

.headerInnerContainer {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  background: linear-gradient(to right, #2e3192, #1bffff);
}

.headerLeft {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.headerLeft > h2 {
  font-size: 1.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
  color: #1a202c;
}
.headerLeft > p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 1px;
}

.headerButton {
  background-color: #1a202c;
  color: azure;
  border: 1px solid #1a202c;
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}
